* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-background: rgb(11, 42, 44);
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sr-hidden {
  position: absolute;
  visibility: hidden;
}

.navigation {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3%;
}

.menu-items {
  display: flex;
  flex-direction: row;
  position: relative;
}

.menu-icon  {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
}

.menu-icon div {
  border: none;
  background: var(--primary-background);
  width: 20px;
  height: 2px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.menu-icon div:nth-child(1) {
  width: 25px;
}

.menu-icon div:nth-child(2) {
  margin-block: 7.5px;
}

.menu-icon :nth-child(3)  {
  width: 15px;
}

.menu-letters {
  margin-left: 5px;
  margin-top: -3px;
  font-size: 18px;
}

.primary-navigation {
  display: none;
}

.logo {
  position: absolute;
  background: var(--primary-background);
  top: 0;
  left: 40%;
  padding-block: 20px;
  padding-inline: 20px;
  color: rgb(250, 233, 206);
  text-align: center;
  z-index: 10;
}

.logo h1{
  font-size: 26px;
  margin-bottom: 0;
}

.logo span {
  margin-top: 0;
  font-weight: 100;
  font-size: 14px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.social-media li a {
  color: var(--primary-background);
  font-size: 32px;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.carousel::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -100;
  background: var(--primary-background);
  height: 100vh;
  width: 100vw;
  top: 45vh;
  left: -5rem;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  background: rgb(208, 165, 91);
  width: 60px;
  height: 70px;
  top: 40vh;
  z-index: 10;
}

.carousel-item {
  height: 90vh;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item {
  padding-top: 24rem;
  padding-bottom: 0;
}

.carousel-item div {
  height: 30vh;
  padding-inline: 20px;
  padding-block: 6rem 0;
  background: linear-gradient(to bottom, transparent, var(--primary-background));
  border-bottom: 60px solid var(--primary-background);
}

.carousel-item div::after {
  content: '';
  display: block;
  position: relative;
  z-index: -1;
  margin-top: 30px;
  background: var(--primary-background);
  height: 50vh;
  width: 100vw;
  left: -5rem
} 

.carousel-item div p {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.item-1 {
  background-image: url('./assets/blue-suit.jpg');
}

.item-2 {
  background-image: url('./assets/women-african.jpg');
  background-position: bottom;
}

.item-3 {
  background-image: url('./assets/joyful-woman.jpg');
}

main {
  background: var(--primary-background);
  padding-block: 100px 40px;
}

.work-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 5%;
  color: #fff;
  margin-block: 150px 100px;
  gap: 20px;
}

.column {
  padding: 15px;
  border: 2px solid rgb(170, 133, 69);
  height: 250px;
}

.column h3 {
 color: rgb(170, 133, 69);
 font-size: 26px;
}

.history {
  display: block;
  flex-direction: column;
  padding-inline: 5%;
  color: #fff;
}

.history h2 {
  color: rgb(170, 133, 69);
  margin-bottom: 50px;
  font-size: 42px;
}

.history-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block: 0 40px;
}

.history-details p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(170, 133, 69);
  height: 100%;
  padding: 50px 60px;
  height: 400px;
  font-size: 18px;
  z-index: 10;
}

.history-details img {
  justify-self: flex-end;
  width: 550px;
  height: 350px;
  margin-left: -40px;
}

.gallery {
  padding: 5%;
}

.gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.gallery-images img {
  width: 30%;
}

.meetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url('./assets/suits.jpg');
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: 80px auto;
}

.meetings div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(11, 42, 44, 0.8);
  height: 100%;
  width: 100%;
}

.meetings div a {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  align-self: center;
  text-transform: uppercase;
}

.meetings::after {
  content: '';
  display: block;
  position: absolute;
  background: #727272;
  height: 1px;
  width: 90%;
  margin-top: 480px;
  margin-inline: auto;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  background: var(--primary-background);
  margin: 0;
  padding-inline: 5%;
  padding-block:20px 40px;
}

footer .primary-location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/map.jpg');
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.primary-location h4,
.primary-location span {
  color: #dedede;
}

.primary-location span {
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 5px;
}

.primary-location a {
  color: rgb(216, 173, 100);
  text-decoration: underline;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}

.location i {
  font-size: 36px;
  color: rgb(140, 112, 63);
  margin-top: 20px;
}

.primary-location div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: radial-gradient(circle, rgba(11, 42, 44, 0.7), var(--primary-background));
  height: 100%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.email {
  text-decoration: underline;
}

.copyright {
  color: #dedede;
}

.copyright h3 {
  color: rgb(27, 80, 84);
  font-weight: 800;
  font-size: 64px;
}
